{% extends "plantilla.html" %}

{% block titulo %}
Bienvenidos a la Universidad del Saber UColtis
{% endblock %}

{% block contenido %}
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo itaque, nemo eius eos consectetur voluptas, soluta ipsam placeat earum, architecto aliquam modi ex assumenda officia rerum sint suscipit libero harum.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo itaque, nemo eius eos consectetur voluptas, soluta ipsam placeat earum, architecto aliquam modi ex assumenda officia rerum sint suscipit libero harum.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo itaque, nemo eius eos consectetur voluptas, soluta ipsam placeat earum, architecto aliquam modi ex assumenda officia rerum sint suscipit libero harum.</p>
{% endblock %}

